#depoimentos-clientes{
    background-color: #0275D8;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 0;
    color: #FFF;
    font-size: 24px;
}

.grupo-tipo-pessoa,
.grupo-tipo-solicitacao{
    width: 50%;
    display: inline-block;
    vertical-align: top;
}